

.container{
    display: flex;
    align-items: center;
    gap: 40px;

    img{
        width: 32px;
        height: 32px;
    }

    .data{
        display: flex;
        align-items: center;
        height: 35px;
    }
}