


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text{
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
    }
    .sign{
        text-align: center;
        font-size: 13px;
    }
}