

body{
  --blue-light: #9BC7FE;

  --blue: #2F9BFF;

  --blue-hover: #0073FF;

  --black: #000000;
  --black-hover: #2d2d2d;

  --red: #FF0000;
  --red-dark: #8b0000;
  --red-hover: #dd0303;


  --yellow: #FFE565;

  font-size: 16px;

  --gray: #D9D9D9;

  --gray-light: #f4f4f4;

}

* {
  font-family: 'Anek Bangla', 'sans-serif';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--black);
}

ul{
  list-style: none;
}


@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Anek Bangla';
  src: url('./shared/fonts/AnekBangla-ExtraBold.ttf');
  font-weight: 800;
}